<!-- nav bottom start  -->
<nav id="nav-bottom" class="fixed-bottom bg-white nav-bottom" >
    
    <div class="container">
        
        <div class=" " >
            <ul class="d-flex justify-content-between " >
                <li class="nav-item">
                    <a class="nav-link nav-link-sm text-center {% if request.resolver_match.url_name == 'index' %}active{% endif %}" aria-current="page" href="{% url 'index' %}"><i class="fa-solid fa-house"></i><span class="d-block">About Me</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link nav-link-sm {% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}" href="{% url 'portfolio' %}"><i class="fa-solid fa-graduation-cap"></i><span class="d-block">Portfolio</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link nav-link-sm {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}"><i class="fa-solid fa-id-card"></i><span class="d-block">Hire Me</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link nav-link-sm {% if request.resolver_match.url_name == 'pricing' %}active{% endif %}" href="{% url 'pricing' %}"><i class="fa-solid fa-computer-mouse"></i><span class="d-block">Services</span></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link nav-link-sm {% if request.resolver_match.url_name == 'resume' %}active{% endif %}"  href="{% url 'resume' %}"><i class="fa-solid fa-user-tie"></i><span class="d-block">Resume</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- nav bottom end  -->