@use "../base/index" as *;
@use "../partials/variables" as *;

// btn class 
.btn{
    color: $white;
    font-weight: 600;
    padding: .4rem 1.5rem;
    border: none;
}
.btn-primary{
    background: $primary;
    &:hover{
        color: $white;
        background: darken($color: $primary, $amount: 6);
    }
}
.btn-dark{
    background: $dark;
    &:hover{
        color: $white;
        background: darken($color: $dark, $amount: 6);
    }
}
.resume-color-txt{
    span{color: $primary !important}
}

// text class 
.text{
    color: $text-color;
    font-size: 1rem;
    line-height: 1.6rem;
}
.card-text{
    color: $text-color;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.text-primary{
    color: $primary !important;
}
.text-dark{
    color: $dark !important;
}
.text-warning{
    color: $dark !important;
}
.text-light{
    color: $light !important;
}
.text-light{
    color: $white !important;
}
.text-danger{
    color: $danger !important;
}
.text-info{
    color: $info !important;
}

// link class 
.text-link{
    color: $primary;
    &:hover{text-decoration: underline;}
}

.link{
    color: $primary;
    font-size: 0.875rem;
    &:hover{
        color: darken($color: $primary, $amount: 10)
    }
}
.link-light{
    // color: lighten($color: $dark, $amount: 40) !important;
    color: darken($color: $light, $amount: 40 ) !important;
}

// heading class 
.heading{
    font-weight: $bold;
    color: $heading-color;
    font-size: 2.5rem;
}
.heading-sm{
    @extend .heading;
    font-size: 2.1rem;
}
.sub-heading{
    font-weight: 300;
    color: $heading-color;
    font-size: 1.7rem;
}

.section-padding{
    padding: 4rem 0;
}
.section-heading{
    font-weight: $bold;
    position: relative;
    padding-left: 1.5rem;
    color: $heading-color;
    font-size: 2rem;
    &::before{
        content: " ";
        width: 0.313rem;
        height: 100%;
        background: $primary;
        position: absolute;
        left: 0;
        top: 0;
    }
}

// title class
.card-title{
    font-weight: $semibold;
    font-size: 1.125rem;
}


.hr{
    border: none;
    height: 1px; 
    background-color: lighten($color: $dark, $amount: 16);
    opacity: .1;
    margin: 1rem 0;
}
.hr-light{
    @extend .hr;
    background-color: lighten($color: $dark, $amount: 40);
}


// media 
@media (max-width: 1400px) {
    .btn{font-size: .938rem;}
}

@media (max-width: 1200px) {
    .heading{font-size: 2rem;}
    .heading-sm{ font-size: 1.7rem; }
    .sub-heading{font-size: 1.4rem;}
    .section-heading{font-size: 1.7rem;}
    .text{font-size: 0.938rem}
    .card-title{font-size: 1rem }
    .card-text, .link{font-size: .813rem}
    .btn{font-size: 0.875rem;}
}
@media (max-width: 992px) {
    .section-padding{padding: 3rem 0}
    .heading{font-size: 1.8rem;}
    .heading-sm{ font-size: 1.6rem; }
    .sub-heading{font-size: 1.3rem;}
    .section-heading{font-size: 1.5rem;}
    // .text{font-size: 0.938rem}
    // .card-text, .link{font-size: .813rem}
    // .btn{font-size: 0.875rem;}

}
@media (max-width: 768px) {
    // .section-padding{padding: 3rem}
    .heading{font-size: 1.7rem;}
    .heading-sm{ font-size: 1.4rem; }
    .sub-heading{font-size: 1.2rem;}
    .section-heading{font-size: 1.3rem;}
    .text{font-size: .875rem;}
    .card-title{font-size: 0.938rem }
    .card-text, .link{font-size: 0.813rem}
    .btn {font-size: .8rem; padding: .3rem 1.3rem;}

}
@media (max-width: 576px) {
    .section-padding{padding: 2rem 0}
    .heading{font-size: 1.6rem;}
    .heading-sm{ font-size: 1.3rem; }
    .sub-heading{font-size: 1.1rem;}
    .section-heading{font-size: 1.3rem;}
    .text{font-size: 0.813rem;}
    .card-title{font-size: 0.875rem }
    .card-text, .link{font-size: 0.75rem}
    .btn {font-size: .75rem; padding: .3rem 1.3rem;}

}